/* Global styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #112D4E;
  color: #DBE2EF;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: row; /* Default layout */
}

.sidebar {
  background-color: #0b0b0d;
  padding: 20px;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header h2 {
  color: #3F72AF;
  margin-bottom: 20px;
  font-size: 24px;
}

.sidebar nav a {
  display: block;
  color: #DBE2EF;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.sidebar nav a:hover {
  color: #3F72AF;
}

.logout a {
  color: #DBE2EF;
  text-decoration: none;
  font-size: 18px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: linear-gradient(135deg, rgba(43, 43, 43, 0.8), #112D4E);
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.search-bar input {
  padding: 12px 16px;
  width: 350px;
  border: 2px solid #3F72AF;
  border-radius: 30px;
  background-color: #F9F7F7;
}

/* Flex container for the main content */
.content {
  display: flex;
  flex: 1; /* Take remaining space */
  margin-top: 10px; /* Space between top bar and content */
}

/* Camera feed container */
.camera-feed-container {
  flex: 3; /* Larger area for the video feed */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 10px; /* Space between video feed and alerts */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Prevents overflow */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

/* Video feed styles */
.video-feed {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  max-height: 60%; /* Prevent overflow */
  object-fit: cover; /* Cover the container */

}





/* Responsive styling */
@media (max-width: 768px) {
  .app {
    flex-direction: column; /* Stack sidebar and content vertically */
  }

  .sidebar {
    width: 100%; /* Sidebar takes full width */
    height: auto; /* Auto height */
  }

  .camera-feed-container {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin */
  }

  .search-bar input {
    width: 100%; /* Full-width search bar on mobile */
  }


}
